body {
    font-family: Meiryo;
    background-image: url(../index/b032.gif);
}

h3 {
    background: #7fffd4;
    text-align: center;
}

div#sentence {
    background: #ffffff;
    width: 400px;
    padding: 10px;
    text-align: center;
    border: 1px solid #cccccc;
    margin: 30px auto;
}

.img {
    border: 10px ridge #f0e68c;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 600px;
}

a:hover img.imglinksamp03 {
    border: 10px ridge #ffd700;
}
